:root {
    --window-bg: black;
    --window-border: rgb(53, 53, 53);
    --fluent-bg: #0000009c;
    --color-text-1: white;
    --btn-main-hover: #ffffff1e;
    --btn-main-press: #ffffff34;
    --list-hover: #ffffff22;
    --active-list: #0076d7;
    --link-color: #0076d7;
    --link-hover-color: #ffffff48;
    --link-press-color: #ffffff31;
    --table-color: #ffffff70;
    --default-color: #0076d7;
    --cnt-lnk-hover: #ffffff15;
    --cnt-lnk-hover-brd: #ffffff30;
    --cnt-lnk-press: #ffffff10;
    --cnt-lnk-press-brd: #ffffff20;
    --app-info-txt: #ffffff70;
    --textarea-bg: #00000054;
    --textarea-bg-hover: #000000a4;
    --textarea-bg-visible: #ffffff;
    --textarea-text: #ffffff9a;
    --textarea-text-visible: #000000;
    --textarea-brd: #ffffff54;
    --textarea-brd-hover: #ffffff7a;
    --textarea-brd-visible: #0076d7;
    --taskbar-icn-hover: #ffffff30;
    --taskbar-icn-press: #ffffff50;
    --taskbar-icn-active: #ffffff60;
    --main-zn-info: #171717;
    --user-info: #ffffff70;
}