:root {
    --window-bg: white;
    --window-border: rgb(53, 53, 53);
    --fluent-bg: #ffffff9c;
    --color-text-1: black;
    --btn-main-hover: #0000001e;
    --btn-main-press: #00000034;
    --list-hover: #00000022;
    --active-list: #0076d7;
    --link-color: #0076d7;
    --link-hover-color: #00000048;
    --link-press-color: #00000031;
    --table-color: #00000070;
    --default-color: #0076d7;
    --cnt-lnk-hover: #00000015;
    --cnt-lnk-hover-brd: #00000030;
    --cnt-lnk-press: #00000010;
    --cnt-lnk-press-brd: #00000020;
    --app-info-txt: #00000070;
    --textarea-bg: #ffffff54;
    --textarea-bg-hover: #ffffffa4;
    --textarea-bg-visible: #ffffff;
    --textarea-text: #0000009a;
    --textarea-text-visible: #000000;
    --textarea-brd: #00000054;
    --textarea-brd-hover: #0000007a;
    --textarea-brd-visible: #0076d7;
    --taskbar-icn-hover: #00000030;
    --taskbar-icn-press: #00000050;
    --taskbar-icn-active: #00000060; 
    --main-zn-info: #f2f2f2;
    --user-info: #00000070;
}